body
    include header

    .navigation
        ul
            li Программы
            li Музыка
            li Фото и видео
            li Подкасты
            li О нас

    .banner
        img(src="321.jpg" alt="banner" width="100%")

    .section
        h2 Новинки

    .music-section
        each item in [1, 2, 3, 4, 5]
            .music-item
                img(src=`${item}.jpg` alt=`Image${item}` width="200" height="200")
                p
                    strong
                        | Dom Dolla x Nelly Furtado
                    br
                    | EAT YOUR MAN

    .listen-online
        p
            strong Слушайте радио онлайн в интернете

    .reasons
        h2 Пять причин слушать интернет радио на Melodies.fm :
        ol
            li Слушать онлайн радио в интернете - это просто! Мы не требуем скачивать специальные программы и приложения. Сайт простой, с понятным лаконичным оформлением. Слушать радио онлайн вы сможете прямо в браузере где угодно: на работе, дома, в машине.
            li Melodies.fm - это бесплатно! Вы можете слушать любимое радио онлайн без регистрации и без оплаты доступа круглосуточно!
            li Доступ к совершенно новым радиостанциям. Вы не представляете, сколько талантливых диджеев создают действительно отличные радиостанции прямо сейчас! Побродив по сайту, вы точно найдёте радиостанцию онлайн, которая вам понравится.
            li Топ-чарты со всей планеты: в каждом жанре найдётся самая популярная музыка, которую транслируют радиостанции со всего света!

    h2 Подписаться на новостную рассылку
    .subscribe
        .subscription-form
            input(type="email" placeholder="Введите ваш email")
            button Отправить

    .broadcasting
        h2 Спутниковое вещание в открытом виде для региональных партнёров
        table
            tr
                th Параметры
                th Спутники
            tr
                td ABS-2A, 75 гр. в. д.
                td Ямал-401, 90 гр. в.д.
            tr
                td Стандарт распространения
                td MPEG-2 DVB-S
            tr
                td Вид модуляции
                td QPSK
            tr
                td Диапазон
                td Ku

    include footer
